<!DOCTYPE html>
<html class="home">
<head>
	<title></title>
</head>
<body>
	<div id="greeting-wrapper">
		<h1 id="greeting">W E L C O M E</h1>
		<div id="sub-greeting"> to mein Tagebuch </div>
	</div>

</body>
</html>