/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #5cdb94;
  color: #FFFFFF;
  margin: 0 auto;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13pt;
  line-height: 18px;
}

.container {
  width: 80%;
  margin: 20px auto;
  min-height: 100vh;
}
#greeting-wrapper {
  text-align: center;
  left: 40%;
  top: 40%;
  margin: 0 auto;
  position: absolute;
}
#greeting {
  font-size: 25pt;
}
#sub-greeting {
  font-family: 'Petit Formal Script', cursive;
  font-weight: 900;
  font-size: 14pt;
}
#index-header {
  color: #111111;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.navbar-wrapper {
  color: #05396b;
  border-top: 10px solid #05396b;
  margin-bottom: 40px;
  font-size: 11pt;

}

.home-new-wrapper {
  position: absolute;
  right: 0;
  margin: 10px;
  color: #FFFFFF;
  background-color: #05396b;
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  height: 65px;
}
.home-new-text {
  padding: 10px 110px 0 0;
  line-height: 2em;  
}
.home-icon-wrapper {
  top: 10%;
  right: 5%;
  position: absolute;
}
.new-icon {
  margin: 0 22px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.new-entry-wrapper {
  background-color: #ffdd57;
  border-radius: 5px;
  padding: 3px;
  height: 60px;
  width: 82px;
  font-size: 12pt;
  color: #05396b;
  text-align: center;
}

.navbar {
  margin: 10px;
  display: inline-block;
}
#nav-icon {
  height: 50px;
}

a {
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;
  color: inherit;
  transition: .3s background-color;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

a:hover, a:focus {
  background-size: 100% 2px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.form-entry {
  width: 80%;
  min-height:11em;
  font-weight: 520;
  font-size: 13pt;
}

.form-input {
  color: #05396b;
  font-family: 'Merriweather', serif;
  background-color: PapayaWhip;
  padding: 5px;
}

.form-quote-label {
    text-align: center;

}
.form-quote, .table-quote {
  align-items: center;
  align-content: center;
  width: 100%;
  height: 2.5em;
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto;
  font-size: 14pt;
}
.table {
  margin: 0 auto;
  width: 100%;
}
tr {
  display: table;
  margin-bottom: 10px;
}
.table-date {
    border-top: 1px solid currentColor;

}
.table-quote {
  color: #111111;
  border-left: 3px solid currentColor;
  padding: 0 10px;
}
.table-entry {
  font-size: 12pt;
}
.table-image img {
  width: 300px;
}
.crud-div {
  border-bottom: 3px solid #111111;
  padding-bottom: 70px;
}
.crud-icon {
  max-height: 25px;
}
.table-destroy a {
  background-image: linear-gradient(#FF4136, #FF4136);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.table-destroy a:hover, .table-destroy a:focus {
  background-size: 100% 2px;
}

.form-tags {
  line-height: 1em;
  height: 6em;
}
.form-image {
}
input[type="submit"] {
  font-size: 14pt;
  color: #ffdd57;
  background-color: #05396b;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  float: right;
  padding: 1em;
}
input[type="submit"]:hover {
  color: #05396b;
  background-color: #ffdd57;
  cursor: pointer; 
}


.footer-wrapper {
  min-width: 100%;
  height: auto;
  background-color: #001f3f;
  flex-direction: column;
  overflow: hidden;
  margin-top: 60px;
}

.footer-container {
  display: flex;
  width: 70%;
  text-align: center;
  color: white;
  padding-top: 20px;
  margin: 0 auto;
  flex: 1;
}

.footer-block {
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
  float: left;
  margin-right: 30px;
  font-size: 11pt;
}

.footer-header {
  font-size: 13pt;
  font-family: 'Petit Formal Script', cursive;
  font-weight: 900;
  color: #5cdb94;
  margin-bottom: 5px;
}

.footer-solo {
  margin: 20px 0 10px 0;
  text-align: center;
  width: 100%;
  font-size: 9pt;
}